<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADENUSI EMPIRE</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    
    <nav>
        <h1>ADENUSI's</h1>

        <div class="links">
            <a href="">HOME</a>
            <a href=""> LATEST NEWS</a>
            <a href="">CONTACT US</a>
            <a href="">ABOUT US</a>
           
        </div>

        <div class="cta">
            <button>LOG IN</button>
            <button>SIGN UP</button>
        </div>
    </nav>


    <div class="heroSection">
             <h3>BEYOND DREAM'S</h3>

    </div>
</body>
</html>