<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/signup.css">
</head>
<body>
        <form action="/register" method="post">
                 <input type="text" name="username" placeholder="ENTER USERNAME">
                 <input type="email" name="email" placeholder="ENTER EMAIL">
                 <input type="password" name="password" placeholder="ENTER PASSWORD">
                 <input type="password" name="confirmPass" placeholder="CONFIRM PASSWORD">
                 <button>Register</button>

                 <% if(locals.error){ %> 
                    <p><%= error %></p>
                 <% } %> 

        </form>
</body>
</html>